

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;

}
.btn-primary{
    background-color:#FD6E0A ;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}
.secondary-bg{
    background-color: #FFF8F3;

}
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;

}
/* nav styles */
nav{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 20px 230px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    
}
nav ul{
    align-items: center;
    display: flex;


}
nav li a{
    text-decoration: none;
    font-size: 20px;
    
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 584px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;

}
.banner-profile-pic{
    width: 580px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;

}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
   
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-weight:normal;
    color: #757575;
    font-size: 20px;
}
.item-description{
    font-weight: 600;
    color: #474747;
    font-size: 20px;
}
/* skills-container */

.skills-container{
    display: flex;
    gap: 24px;
    color: #FFFFFF;
}
.skill-title{
    color:#181818 ;

}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    
    color: #757575;
}
/* resume section  */
.resume-container{
    display: flex;
    gap: 24px;

}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    /* padding-bottom: 80px; */
}

.ex-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;

}
.ex-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;

}
.ex-description {
    color: #757575;
    font-weight: 16px;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px ;
}
/* .content{
    
    justify-content: space-between;
    align-items: center;
} */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
.footer-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818 ;
}
 footer input[type="text"],footer input[type="email"] {
    height: 64px; 
     width: 461px;
    border-radius: 5px;
    background-color: white;
    display: block;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}
footer textarea{
    width: 461px;
    border-radius: 5px;
    background-color: white;
    display: block;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
a{
    
    padding: 2px 8px; 
}
/* Responsive Media Query */
.hide{
    display: none;
}
@media screen and (max-width:576px) {
    .skills-container, .resume-container,footer,.about-items{
        flex-direction: column;
        padding: 5px;
    }
    footer,.about{
        padding: 20px;
    }
    .footer-column{
        width: 100%;
    }
    footer input[type="text"],footer input[type="email"]{
        width: calc(100% - 40px);
    }
    
}






